@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

.a4 {
    width: 794px;
    height: 1123px;
    margin: auto;
    font-family: 'Cairo', sans-serif;
    box-shadow: 0 0 5px 5px #DDD;
    transition: all .2s ease-in-out;
}
.a4:hover {
    box-shadow: 0 0 5px 5px #888;
}

.a4 .KSA h6 {
    margin-top: -40px;
}
.a4 .sick {
    margin-top: 20px;
}
.a4 .sick h2:first-child {
    color: rgb(58, 116, 185);
}
.a4 .sick h2 {
    color: rgb(44, 62, 119);
}
.a4 div.table-responsive {
    border: 1px solid #DDD;
    border-radius: 10px;
    padding: 0 !important;
}
.a4 div.table-responsive th {
    border: none;
    font-family: 'Cairo', sans-serif;
}
.a4 div.table-responsive th.head {
    font-size: 14px;
    color: rgb(58, 116, 185);
}
.a4 div.table-responsive th.data {
    font-size: 14px;
    color: rgb(44, 62, 119);
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}
.a4 div.table-responsive .with-border {
    background: rgb(44, 62, 119);
}
.a4 div.table-responsive .with-border th.head {
    color: #FFF;
}
.a4 div.table-responsive .with-border th.data {
    color: #FFF;
}
.a4 div.table-responsive .gray-border {
    background: #EEE;
    border-top: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
}
.a4 .qrcode {
    border-right: 1px solid #DDD;
}
.a4 .qrcode img,
.a4 .ministry img,
.a4 .end img {
    width: 125px;
}
.a4 .qrcode p,
.a4 .ministry p,
.a4 .end p {
    font-family: 'Cairo', sans-serif;
    font-size: 10px;
    width: 70%;
    margin: auto;
    color: #000;
    line-height: 1.5;
}
.a4 .end p:first-child {
    margin-top: 8%;
}
.a4 .end img {
    float: right;
    margin-right: 10%;
}

