@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

.a4 {
    width: 794px;
    height: 1123px;
    margin: auto;
    font-family: 'Cairo', sans-serif;
    box-shadow: 0 0 5px 5px #DDD;
    transition: all .2s ease-in-out;
}
.a4:hover {
    box-shadow: 0 0 5px 5px #888;
}

.a4 .KSA h6 {
    margin-top: -40px;
}

.a4 .sick {
    margin-top: 100px;
}
.a4 .sick h2:first-child {
    color: rgb(58, 116, 185);
}
.a4 .sick h2 {
    color: rgb(44, 62, 119);
}

.a4 div.table-responsive {
    border: 1px solid #DDD;
    border-radius: 10px;
    padding: 0 !important;
}
.a4 div.table-responsive th {
    border: none;
}
.a4 div.table-responsive th.head {
    font-size: 14px;
    color: rgb(58, 116, 185);
}
.a4 div.table-responsive th.data {
    font-size: 14px;
    color: rgb(44, 62, 119);
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}
.a4 div.table-responsive .with-border {
    background: rgb(44, 62, 119);
}
.a4 div.table-responsive .with-border th.head {
    color: #FFF;
}
.a4 div.table-responsive .with-border th.data {
    color: #FFF;
}
.a4 div.table-responsive .gray-border {
    background: #EEE;
    border-top: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
}

@media print {
    @page {
        margin: 0;  /* this affects the margin in the printer settings */
    }
    .a4 {
        width: 2480px;
    }
    .a4 .KSA h6 {
        margin-top: -80px;
        font-size: 40px;
    }
    .a4 .sick {
        margin-top: 300px;
    }
    .a4 .sick h2 {
        margin-top: 70px;
        font-size: 80px;
    }
    .page-titles, .card-title, .btn-holder, .footer { display: none}
}
